name: Node.js

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    # Check if it works with current dependencies
    - cron: "42 2 * * 6" # weekly on Saturday 2:42 UTC

jobs:
  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22
          - 20
          - 18
          - 16
          - 14
          - 12
          - 10
          - 8
          - 6
          - 4
          - 0.12
          - 0.11
          - "0.10"
          - 0.9
          - 0.8
    steps:
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/checkout@v6
      # - run: npm install
      - run: npm run build
      - run: npm test
      - run: npm pack
